.navbar {
    background-color: #343a40;
}

    .navbar .navbar-brand, .navbar .nav-link {
        color: #fff;
    }

        .navbar .nav-link:hover {
            color: #cfd8dc;
        }

/* Content wrapper */
#content-wrapper {
    padding: 20px;
    background-color: #f8f9fa;
    min-height: 100vh;
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 10px;
    text-align: center;
}
